In [2]:
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

In [3]:
reunion.set_index('year',inplace=True)
reunion

NameError: name 'reunion' is not defined

In [1]:
import pandas as pd

In [10]:
students=pd.DataFrame({
    'id':[1,2,3,4,5,6,7,8,9,10],
    'name':['joe','alex','jhon','zudi','alpes','ryan','max','alice','jill','jane'],
    'english':[65,76,54,43,56,54,76,78,43,57],
    'maths':[78,67,56,45,87,76,98,76,56,45],
    'science':[98,90,89,78,87,67,78,66,56,44]
})
students

   id   name  english  maths  science
0   1    joe       65     78       98
1   2   alex       76     67       90
2   3   jhon       54     56       89
3   4   zudi       43     45       78
4   5  alpes       56     87       87
5   6   ryan       54     76       67
6   7    max       76     98       78
7   8  alice       78     76       66
8   9   jill       43     56       56
9  10   jane       57     45       44

In [12]:
students=pd.DataFrame({
    'id':[1,2,3,4,5,6,7,8,9,10],
    'name':['jhon','jane','jack','jill','joe','Alex','Alexa','Anya','Sam','Mark'],
    'english':[90,56,34,55,23,23,67,89,90,100],
    'maths':[78,87,78,66,86,89,45,32,89,55],
    'science':[90,45,34,67,78,78,89,67,89,56]
},ignore_index=True)
students

TypeError: __init__() got an unexpected keyword argument 'ignore_index'